@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Hind Siliguri', sans-serif;
}

body{
    background-color: #eceff1;
}

#formulario-pergunta{
    margin-top: 8vh;
}

#nav{
    -webkit-box-shadow: -1px 2px 33px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 33px -8px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 33px -8px rgba(0,0,0,0.75);
}

#titulo-index{
    margin-top: 20px;
}

#card{
    margin-bottom: 12px;
    -webkit-box-shadow: 3px 4px 40px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 40px -9px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 40px -9px rgba(0,0,0,0.75);
}

.head-body{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

#listagem{
    margin-bottom: 24px;
}

#respota{
    margin-top: 12px;
}